#tp1{

    color: yellow;
    font-size: 25px;
}

#img24{

    width: 40px;
}
.checked {
    color: orange;
  }

  #btt{
      width: 145px;
      height: 30px;


  }
  #btt1{

    height: 30px;
    width: 145px;


}
  #btt2{

    height: 28px;


}
#btt3{

    height: 28px;


}
#sto11{
    width: 150px;
}